*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	background-color: #F0F0F2;
}

/*высота навигационного меню*/
@navbar-height: 37px;

/*задаем  побольше горизонтальный отступ*/
@nav-link-padding: 10px 30px;

/*фон для пунктов меню*/
@navbar-default-bg: @panel-bg;

/*цвет текста в пунктах меню*/
@navbar-default-link-color: #b2b2b2;

/*и при наведении мышки – такой же*/
@navbar-default-link-hover-color: @navbar-default-link-color;

/*фон активного пункта меню – наш специфический голубой цвет*/
@navbar-default-link-active-bg: @brand-primary;

/*цвет текста активного пункта меню*/
@navbar-default-link-active-color: #fff;
